*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; //el contenedor padre, siempre en relative.
    background: #161623;
    overflow: hidden;
    min-height: 100vh;
}

.container{
    position: relative;
    .card{
        background: gray;
        position: relative;
        width: 320px;
        height: 450px;
        border-radius: 20px;
        overflow: hidden; // x si acaso la imagen no fuese png para que no desborde
        &::before{
            content: "";
            position: absolute;
            top:0px;
            left: 0;
            width: 100%; //que el decorador ocupe todo
            height: 100%;
            background: #b6fcfd ;
            clip-path: circle(150px at 80% 20%); //para convertir el decorador en un circulo.
            transition: 0.5s ease-in-out;
        }
        &:after{
            content: "Nike";
            position: absolute;
            top: 30%;
            left: -20%;
            font-size: 12em;
            color: rgba(255,255,255, 0.1);
            font-weight: 800;
            font-style: italic;
            z-index: 1;
        }
        &:hover{
            &::before{
                clip-path: circle(300px at 80% -20%);
            }
            .imgBx{
                top:0;
                transform: translateY(0); //cuando hacemos hover ponemos la zapatilla arriba
            }
            .contentBx{
                height: 210px;
                .size{
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.5s;
                }
                .color{
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.6s;
                }
                a{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px); //lo subimos justo debajo de los colores
                    transition-delay: 0.7s;
                }
            }
        }
        .imgBx{
            position: absolute; //como es absolute
            top: 50%; // se desplaza el 50% de la altura hacia abajo (empujas desde el top) pero respecto de su padre card!
            width: 100%; //ocupas el 100% del ancho del padre
            height: 220px; // del padre 220px
            z-index: 1000;
            transition: 0.5s;
            transform: translateY(-50%);
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 340px;
                transform: translate(-50%, -50%) rotate(-10deg);
            }
        }
        .contentBx{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 1s;
            z-index: 10;
            h2{
                font-weight: 600;
                letter-spacing: 1px;
                color: white;
            }
            .size, .color{ //afecta a ambas clases
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 20px;
                opacity: 0; //al principio no quiero que se vea.
                visibility: hidden;
                transition: 0.5s;
                h3,h3{
                    color:white;
                    font-weight: 300;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-right: 10px;
                }
            }
            .size span{
                width: 26px;
                height: 26px;
                text-align: center;
                line-height: 24px;
                font-size: 14px;
                display: inline-block;
                color: #111;
                background: white;
                border-radius: 4px;
                margin: 0 5px;
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                    color: #111;
                    background: #dc7928;
                }
            }
            .color span{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin: 0 5px;
                display: inline-block;
                cursor: pointer;
                transition: 0.5s;    
                &:nth-child(2){
                    background-color: #9bdc28;
                }
                &:nth-child(3){
                    background-color: #03a9f4;
                }
                &:nth-child(4){
                    background-color: #e91e63;
                }
            }
            a{
                display: inline-block;
                padding: 10px 30px;
                background: #b6fcfd;
                border-radius: 4px;
                margin-top: 10px;
                text-decoration: none;
                font-weight: 600;
                color: #131313;
                transform: translateY(50px);
                transition: 0.5s;
                opacity: 0;
            }
        }
    }
}